html {
  font-family: "Lato", "Tahoma", sans-serif;
  font-size: 10px;
  color: #5a5a7f;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}
[class*="container"] {
  max-width: $maxWidth;
  margin: 0 auto;
}
.content-wrapper {
  padding: 0 4rem;
}
