.header__container {
  @include flex();
  min-height: 65px;
  background-color: black;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 7.75rem;
}
.header__logo {
  font-weight: 700;
  font-size: 2.5rem;
  color: $white;
}
span {
  color: $green;
}
.header__menu {
  flex: 0 0 375px;
}
.menu {
  @include flex(row, center, flex-end);

  &__list {
    @include flex(row, center, flex-end);
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: $white;
    flex-wrap: wrap;
  }
  &__item {
    @include flex(row, center, start);
    text-transform: uppercase;
    line-height: 1.17;
    & + &::before {
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $white;
      margin: 0 13px;
    }
  }
  &__link {
    transition: 0.5s;
  }
  &__link:hover {
    color: $green;
  }
}
