*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  border: none;
}
input:focus,
button:focus {
  outline: none;
}

ul,
li {
  list-style: none;
}
a,
button,
input,
textarea {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  outline: none;
}

html,
body {
  height: 100%;
  line-height: 1;
}
