.services-wrapper {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.services__title {
  margin-bottom: 2rem;
}
.services__text {
  margin-bottom: 4rem;
}
.services__list {
  display: grid;
  column-gap: 2rem;
  row-gap: 4.2rem;
  grid-template-columns: repeat(3, 1fr);
}
.services__card {
  display: flex;
  column-gap: 2rem;
}
.card__content {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}
.card__title {
  @include font(900, 1.8rem);
}
.card__text {
  @include font(400, 1.2rem, 183%);
  text-align: justify;
}
